sudo: false
language: node_js

cache:
  directories:
    - node_modules

branches:
  only:
    - master

node_js:
  - '10'

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - yarn install

script:
  - yarn build --prod
  - yarn test --watch=false
